:root {
  --color-background-light: #FFFFFF;
  --color-background-secondary: #F0F3F7;
  --color-background-hover: #F7F8F9;
  --color-background-card: #E0E5EB;
  --color-background-alert: #FEE3E3;

  --font-family-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-family-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
  margin: 0;
  background-color: var(--color-background-secondary);
  font-family: var(--font-family-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--font-family-code);
}
